html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

header {background-color: yellow;    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;    
}

header .contact-info {
    border: 1px solid red;
}

nav ul {background-color: lightgray;
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: .25rem;
    text-align: center;
    margin-right: 1rem;
}