html, body {
    font-family: 'Roboto Slab', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(211, 211, 211, 0.726);
    margin: 10px;
}

header {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(58, 57, 57, 0.082);            
}

header .contact-info {
    border: 2px solid black;
    padding: .5rem;
    border-radius: 1rem;
    margin: .5rem;
}

header .contact-info > * {
    margin: 0;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
}
